.tip-amount-container{
  margin-top: 30px;
  height: 20%;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .tip-amount {
    display: flex;
    flex-direction: column;
    .tip {
      font-size: 16px;
      color: #fff;
    }
    .person{
      font-size: 12px;
      color: hsl(184, 14%, 56%)
    }

  }
  .tip-amount-count{
    font-size: 36px;
    color: hsl(172, 67%, 45%)
  }
}