.bill-box {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 11px 0px rgb(104, 107, 139);
  width: 800px;
  height: 400px;
  display: flex;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .left-box{
    height: 85%;
    width: 45%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    .bill{
      width: 100%;
      margin-bottom: 30px;
      .title{
        font-size: 12px;
        color: hsl(184, 14%, 56%)
      }
      .bill-price {
        width: 100%;
        input {
          width: 100%;
          margin-top: 10px;
          text-align: right;
          padding-right: 10px;
          font-size: 24px;
          border: none;
          height: 32px;
          border: 2px solid hsl(172, 67%, 45%);
          border-radius: 5px;
          background-color:hsl(185, 34%, 73%);
        }
      }
    }
    .tip-select {
      width: 100%;
      .title {
        font-size: 12px;
        color: hsl(184, 14%, 56%);
        margin-bottom: 20px;
      }
      .tip-tiles {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 10px;
        .tile {
          background-color: hsl(183, 100%, 15%);
          font-size: 16px;
          cursor: pointer;
          color: #fff;
          width: 30%;
          line-height: 40px;
          height: 40px;
          border-radius: 5px;
          margin-bottom: 15px;
          text-align: center;
          border: none;
          &:last-child{
            background-color: hsl(185, 34%, 73%);
            color: hsl(184, 14%, 56%);
          }
          &:hover, &:focus {
            background-color:hsl(185, 34%, 73%);
            color: hsl(183, 100%, 15%);
          }
        }
      }
    }
    .num-of-ppl{
      display: flex;
      flex-direction: column;
      width: 100%;
      .title {
        font-size: 12px;
        color: hsl(184, 14%, 56%)
      }
      input {
        width: 100%;
        margin-top: 10px;
        text-align: right;
        padding-right: 10px;
        font-size: 24px;
        border: none;
        height: 32px;
        border: 2px solid hsl(172, 67%, 45%);
        border-radius: 5px;
        background-color:hsl(185, 34%, 73%);
        font-size: 16px;
      }
    }
  }

  .right-box {
    height: 85%;
    border-radius: 20px;
    width: 45%;
    background-color: hsl(183, 100%, 15%);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;


        .tip-btn {
          width: 85%;
          height: 13%;
          background-color: hsl(172, 67%, 45%);
          border: none;
          border-radius: 5px;
          cursor: pointer;
          font-size: 16px;
          position: absolute;
          bottom: 10%;
          left: 50%;
          transform: translateX(-50%);
          &:hover {
            background-color:hsl(185, 34%, 73%)
          }
        }
  }
}
  @media(max-width: 801px){
.bill-box {
  min-width: 290px;
  width: 300px;
  height: auto;
  flex-direction: column;
  .left-box{
    width: 70%;
    margin-bottom: 20px;
    .bill{
      margin-bottom: 10px;
    }
  }

  .right-box {
    border-radius: 20px;
    width: 70%;
    height: 200px;
    margin-bottom: 10px;

    .tip-amount-container{
      margin-top: 10px;
      height: 20%;
      width: 85%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .tip-amount {
        display: flex;
        flex-direction: column;
        .tip {
          font-size: 12px;
          color: #fff;
        }
        .person{
          font-size: 10px;
          color: hsl(184, 14%, 56%)
        }

      }
      .tip-amount-count{
        font-size: 29px;
        color: hsl(172, 67%, 45%)
      }
    }
        .tip-btn {
          width: 70%;
          height: 20%;
          background-color: hsl(172, 67%, 45%);
          border: none;
          border-radius: 5px;
          cursor: pointer;
          font-size: 16px;
          position: absolute;
          bottom: 10%;
          left: 50%;
          transform: translateX(-50%);
          &:hover {
            background-color:hsl(185, 34%, 73%)
          }
        }
  }
  }
}